h1, h2, h3, h4, h5, h6 {
    color: #CC0000;
    text-align: center;
}

input.form-control, input.form-control:focus {
    background: #424242;
    color: #CC0000;
}

.vcenter {
    display: flex;
    align-items: center;
}