<!doctype html>
    <head>
        <title>Timelapse Controller</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if is_running %}
        <script>
            setInterval(function() {
                var intervalId = fetch('progress').then(function(response) {
                    return response.json()
                }).then(function(json) {
                    document.getElementById('progress').style = `width: ${json['progress']}%`;

                    if (json['progress'] === 100) {
                        clearInterval(intervalId);
                    }
                });
            }, 1000);
        </script>
        {% endif %}
    </head>
    <body>
        <div class="container">

            <div class="row mt-3 justify-content-center">
                <div class="col">
                    <h3>Timelapse Controller</h3>
                </div>
            </div>

            {% if is_running %}
            <div class="row mb-4 justify-content-center">
                <div class="col">
                    <p>Timelapse running. Progress:</p>
                    <div class="progress">
                        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated bg-danger"></div>
                    </div>
                </div>
            </div>
            {% endif %}
                
            <form action="{{ url_for('index') }}" method="POST">
                {{ form.csrf_token }}
                <div class="row form-group">
                    <div class="col-7 vcenter">
                        {{ form.count.label }}
                    </div>
                    <div class="col vcenter">
                        {{ form.count(class="form-control form-control-lg", min=1, value=1) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-7 vcenter">
                        {{ form.duration.label }}
                    </div>
                    <div class="col vcenter">
                        {{ form.duration(class="form-control form-control-lg", min=1, value=1) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-7 vcenter">
                        {{ form.spacing.label }}
                    </div>
                    <div class="col vcenter">
                        {{ form.spacing(class="form-control form-control-lg", min=0, value=0) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">      
                        {{ form.stop(class="btn btn-outline-secondary btn-lg") }}
                        {{ form.shutdown(class="btn btn-outline-secondary btn-lg") }}            
                    </div>
                    <div class="col">
                        {{ form.start(class="btn btn-outline-danger btn-lg float-right") }}
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>