<!doctype html>
    <head>
        <title>Timelapse Controller</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">

            <div class="row mt-3 justify-content-center">
                <div class="col">
                    <h3>Timelapse Controller</h3>
                </div>
            </div>

            <div class="row mb-4 justify-cozntent-center">
                <div class="col">
                    <p>Progress:</p>
                    <div class="progress">
                        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated bg-danger"></div>
                    </div>
                </div>
            </div>
            
            {% if settings %}
            <div class="row justify-content-center">
                <div class="col">
                    <p>Settings:</p>
                    <table>
                        <tr>
                            <td>Count</td>
                            <td>{{ settings.count }}</td>
                        </tr>
                        <tr>
                            <td>Durations</td>
                            <td>{{ settings.duration }}</td>
                        </tr>
                        <tr>
                            <td>Spacing</td>
                            <td>{{ settings.spacing }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endif %}
                
            <form action="{{ url_for('index') }}" method="POST">
                <div class="row form-group">
                    <div class="col-7 vcenter">
                        <label for="exposure-count">Exposure count:</label>
                    </div>
                    <div class="col vcenter">
                        <input class="form-control form-control-lg" type="number" name="exposure-count" id="exposures">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-7 vcenter">
                        <label for="exposure-duration">Exposure Duration (s):</label>
                    </div>
                    <div class="col vcenter">
                        <input class="form-control form-control-lg" type="number" name="exposure-duration" id="exposures">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-7 vcenter">
                        <label for="exposure-spacing">Time Between Exposures (s):</label>
                    </div>
                    <div class="col vcenter">
                        <input class="form-control form-control-lg" type="number" name="exposure-spacing" id="exposures">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">      
                        <input class="btn btn-outline-secondary btn-lg" type="submit" name="stop" value="Stop">             
                    </div>
                    <div class="col">
                        <input class="btn btn-outline-danger btn-lg float-right" type="submit" name="start" value="Start">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>