<!doctype html>
    <head>
        <title>Timelapse Controller</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="{{ url_for('index') }}" method="POST">
            <div>
                <h1>Timelapse Controller</h1>
            </div>
            {% if status %}
            {% endif %}
            {% if settings %}
            <div>
                <p>Starting capture...</p>
                <table>
                    <tr>
                        <td>Count</td>
                        <td>{{ settings.count }}</td>
                    </tr>
                    <tr>
                        <td>Durations</td>
                        <td>{{ settings.duration }}</td>
                    </tr>
                    <tr>
                        <td>Spacing</td>
                        <td>{{ settings.spacing }}</td>
                    </tr>
                </table>
            </div>
            {% endif %}
            <div>
                <div>
                    <div>
                        <label for="exposure-count">Exposure count:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="exposure-count" id="exposures">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="exposure-duration">Exposure Duration (s):</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="exposure-duration" id="exposures">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="exposure-spacing">Time Between Exposures (s):</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="exposure-spacing" id="exposures">
                    </div>
                </div>
                <div>
                    <div>
                        <input class="btn btn-danger" type="submit" name="start" value="Start">
                    </div>
                    <div>
                        <input class="btn btn-danger" type="submit" name="stop" value="Stop">
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>